/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 80px;
  text-align: center;
  background: #b08bb8;
  color: white;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  /* background-color: #333; */
  background: #e3c6e9;
  padding: 5px;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 12px;
}

.main {
  height: 70vh;
  background: #e3c6e9;
}

.half {
  height: 50%;
}

h6 {
  align-self: center;
}
.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #752485;
  color: rgb(255, 255, 255);
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #e3c6e9;
}
